// Black Shades
$black_x: #0a0a0a;
$black_1: #111;
$black_2: #222;
$black_3: #333;
$black_4: #444;
$black_5: #555;

// Gray Shades
$gray_1: #666;
$gray_2: #777;
$gray_3: #888;
$gray_4: #999;

// White Shades
$white_1: #EEE;
$white_2: #D8D8D8;
$white_3: #BBB;
$white_4: #A8A8A8;
$white_5: #888;

// Accent Shades
$accent: aqua;
$accent_dark_1: rgb(0, 206, 206);
$accent_dark_2: rgb(0, 181, 181);
$accent_dark_3: rgb(0, 118, 118);
$accent_dark_4: rgb(0, 81, 81);
$accent_dark_5: rgb(0, 52, 52);
