@use "../../../common/styles/palette.scss" as palette;


.Board {
    height: 460px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid palette.$black_3;
    border-radius: 10px;
    overflow: hidden;

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    
        .BoardRow {
            &:first-child {
                .BoardCell {
                    &:first-child {
                        border-top-left-radius: 10px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                    }
                } 
            }
            &:last-child {
                .BoardCell {
                    &:first-child {
                        border-bottom-left-radius: 10px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }
                } 
            }
        }
    }
}