@use "../../../styles/palette.scss" as palette;
@use "../../../styles/font_sizes.scss" as font_sizes;

.BoardCell {
    position: relative;
    .EmptyBox, .SolutionBox, .ClueBox {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: palette.$black_1;
        color: palette.$white_1;
        font-size: font_sizes.$font_lg;
        text-align: center;
        word-break: break-word;
        white-space: normal;
        overflow-wrap: anywhere;

        &:hover {
            border-color: palette.$accent_dark_3;
            cursor: pointer;
        }
    }

    .EmptyBox, .ClueBox {
        background-color: palette.$black_x;
        border: 1px solid palette.$black_2;
        color: palette.$white_2;
    }

    .ClueBox {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;

        .SingleClueCell--non-centered {
            position: absolute;
            padding: 2px;
            color: palette.$white_1;
            font-size: 12px;
        }
        
        .MultiClueCell {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;

            > div {
                flex: 1 1 0%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div:first-child {
                border-bottom: 1px solid palette.$black_5;
            }
        }
    }

    .zoomed {
        transform: scale(2);
        z-index: 1;
    }
    .zoom-shift-right {
        transform: scale(2) translateX(25%);
    }
    .zoom-shift-up {
        transform: scale(2) translateY(-25%);
    }
    .zoom-shift-down {
        transform: scale(2) translateY(25%);
    }
    .zoom-shift-up-right {
        transform: scale(2) translate(25%, -25%);
    }
}

.BoardCell--view {
    .EmptyBox, .SolutionBox, .ClueBox {
        width: 45px;
        height: 45px;
    }
}

.ClueBoxArrows {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    pointer-events: none;

    .ClueBoxArrow--up, .ClueBoxArrow--down,
    .ClueBoxArrow--left, .ClueBoxArrow--right {
        font-size: 24px;
        color: palette.$white_3;
    }

    .ClueBoxArrow--up {
        position: absolute;
        transform: translateY(calc(-50% + 5px));
    }

    .ClueBoxArrow--down {
        position: absolute;
        transform: translateY(calc(100% - 7px));
    }

    .ClueBoxArrow--left {
        position: absolute;
        transform: translate(calc(-50% - 4px), calc(50% - 12px));
    }

    .ClueBoxArrow--right {
        position: absolute;
        transform: translate(calc(50% + 4px), calc(50% - 12px));
    }
    
    div {
        min-width: 100%;
        height: 100%;;
    }
}