@use "./common/styles/palette.scss" as palette;
@use "./common/styles/font_sizes" as font_sizes;

html {
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto_Light, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    scrollbar-color: palette.$accent_dark_3 #888;
    scrollbar-width: thin;
    font-variant: small-caps;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: palette.$accent_dark_3;
}

::-webkit-scrollbar-thumb:hover {
    background: palette.$accent_dark_1;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    transition: width 0.5s;
}

.scroll::-webkit-scrollbar-thumb {
    background: palette.$accent_dark_1;
}

h1, h2, p {
    margin-bottom: 20px;
}

h1 {
    font-size: font_sizes.$font_lg;
}

h2 {
    font-size: font_sizes.$font_md;
}

p {
    text-align: center;
}